{% capture content %}
  {% include 'includes/hero' %}

  {% assign section = pages.intro %}
  <section class='about-section section'>
    <h4 class='section-headline'>{{ section.meta.headline }}</h4>
    <div class='section-copy copy'>
      {{ section.body }}
    </div>
  </section>

  {% assign section = pages.figures %}
  <section id='fig-section' class='labelled-section fig-section section'>
    <h3 class='section-title'>{{ section.title }}</h3>
    <h4 class='section-headline'>{{ section.meta.headline }}</h4>
    <h5 class='section-tagline'>{{ section.meta.tagline }}</h5>
    <div id='fig-device' class='device-wrapper'>
      <div id='figures-blurred' class='figures-blurred'></div>
      <div class='device'>
        <div class='figures-wrapper'>
          <div id='figures' class='figures'></div>
        </div>
      </div>
    </div>
  </section>

  {% assign section = pages.fields %}
  <section class='labelled-section fields-section section'>
    <h3 class='section-title'>{{ section.title }}</h3>
    <div class='section-content'>
      {% for page in section.pages %}
      <section class='{{ page.slug }}-subsection subsection'>
        <div class='subsection-icon' style='background-image: url(/assets/images/fields-{{ page.slug }}-icon.svg)'></div>
        <h5 class='subsection-headline'>{{ page.meta.headline }}</h5>
        <div class='subsection-copy copy'>
          {{ page.body }}
        </div>
      </section>
      {% endfor %}
    </div>
  </section>

  {% assign section = pages.streams %}
  <section class='labelled-section streams-section section'>
    <h3 class='section-title'>{{ section.title }}</h3>
    <h4 class='section-headline'>{{ section.meta.headline }}</h4>
    <div class='section-content'>
      <div class='device'></div>
      <div class='subsections-wrapper'>
        {% for page in section.pages %}
        <section class='{{ page.slug }}-subsection subsection'>
          <h5 class='subsection-headline'>{{ page.meta.headline }}</h5>
          <div class='subsection-copy copy'>
            {{ page.body }}
          </div>
        </section>
        {% endfor %}
      </div>
    </div>
  </section>

  {% assign section = pages.maps %}
  <section class='{{ section.slug }}-section section'>
    <h3 class='section-title'>{{ section.title }}</h3>
    <h4 class='section-headline'>{{ section.meta.headline }}</h4>
    <h5 class='section-tagline'>{{ section.meta.tagline }}</h5>
    <div class='section-content'>
      <div class='device'></div>
    </div>
  </section>

  {% include 'includes/signup' %}
  <script>
    $(document).ready(function() {
      var $window = $(window);
      var $figSection = $('#fig-section');
      var $figDevice = $('#fig-device');
      var $figures = $('#figures');
      var $figuresBlurred = $('#figures-blurred');
      var angWidth = 180;
      var numAngles = 5;
      var prevFrame;
      var isMobile = window.innerWidth < 1024;

      var ease = function (t, b, c, d) {
        if ((t/=d/2) < 1) return c/2*t*t*t + b;
        return c/2*((t-=2)*t*t + 2) + b;
      };

      var scrollHandler = function(e) {
        var sx, ex;

        if (!isMobile) {
          var po = $figDevice.offset();
          var scroll = ($window.scrollTop() + $window.height()) - (po.top + $figDevice.height() / 2);
          var ratio = scroll / ($window.height() + $figDevice.height() / 2);
          var adjustedRatio, nextFrame, nextOpacity;
          var x;

          if (ratio >= 0 && ratio < 1) {
            // x = -ratio * 2445;

            sx = (Math.floor(ratio * numAngles)/numAngles) * -1419;
            ex = (Math.ceil(ratio * numAngles)/numAngles) * -1419;

            adjustedRatio = ratio * numAngles - Math.floor(ratio * numAngles);
            x = ease(adjustedRatio, sx, (ex - sx) * adjustedRatio, 1);

            $figuresBlurred.css('transform', 'translateX(' + x + 'px)');
            $figures.css('transform', 'translateX(' + x + 'px)');
          }
        }
      };

      var resizeHandler = function(e) {
        if (window.innerWidth >= 1024 && isMobile) {
          isMobile = false;
        } else if (window.innerWidth < 1024 && !isMobile) {
          isMobile = true;
          $figuresBlurred.css('transform', 'translateX(0)');
          $figures.css('transform', 'translateX(0)');
        }

        scrollHandler();
      };

      $(document).on('scroll', scrollHandler);
      $(window).on('resize', resizeHandler);
    });
  </script>
{% endcapture %}

{% include 'layouts/default' %}
