{% capture content %}
<section id='hero' class='hero-section'>
  <ul class='fading-bg-list background-list list'>
  {% for slide in pages.hero.pages %}
    <li class='background{% if forloop.first %} is-selected{% endif %}' style='background-image: url({{ slide.meta.background }});'></li>
  {% endfor %}
  </ul>

  <ul class='fading-bg-list device-background-list list'>
  {% for slide in pages.hero.pages %}
    <li class='device-background{% if forloop.first %} is-selected{% endif %}' style='background-image: url({{ slide.meta.device-background }});'></li>
  {% endfor %}
  </ul>

  <div class='device-foreground-list-wrapper'>
    <ul class='device-foreground-list list'>
    {% for slide in pages.hero.pages %}
      <li class='device-foreground{% if forloop.first %} is-selected{% endif %}' style='background-image: url({{ slide.meta.device-foreground }});'></li>
    {% endfor %}
    </ul>
  </div>

  <ul class='device-list list'>
  {% for slide in pages.hero.pages %}
    <li class='device{% if forloop.first %} is-selected{% endif %}' style='background-image: url({{ slide.meta.device }}); z-index: {{ forloop.index }};'></li>
  {% endfor %}
  </ul>

  <div class='hero-shadow'></div>
</section>

<script>
  var doc = document;
  var deviceForegroundList = doc.querySelector('.device-foreground-list');
  var index = 1;
  var selectedItem;

  setInterval(function(){
    if (index < 3) {
      index++;
    } else {
      index = 1;
    }

    [].forEach.call(doc.querySelectorAll('.list'), function (list) {
      selectedItem = list.querySelector('li.is-selected');
      selectedItem.className = selectedItem.className.replace(' is-selected', '');

      selectedItem = list.querySelector('li:nth-child(' + index + ')');
      selectedItem.className += ' is-selected';
    });

    deviceForegroundList.className = 'device-foreground-list list is-selected-' + index;
  }, 3000);
</script>

{% endcapture %}

{% include 'layouts/default' %}
