{% capture content %}
  {% include 'includes/hero' %}

  {% assign section = pages.intro %}
  <section class='main-section'>
    <h4 class='section-headline'>{{ section.meta.headline }}</h4>
    <div class='section-copy'>
      {{ section.body }}
    </div>
  </section>

  {% assign section = pages.figures %}
  <section id='fig-section' class='main-section'>
    <h3 class='section-title'>{{ section.title }}</h3>
    <h4 class='section-headline'>{{ section.meta.headline }}</h4>
    <div id='fig-device' class='fig-device-wrapper'>
      <ul id='fig-blurred-ang-list' class='fig-blurred-ang-list'>
      {% for n in (0..20) %}
        <li class='item' style='background-image: url(/assets/figures-angle-{{ n }}-blurred.png)'></li>
      {% endfor %}
      </ul>
      <div class='fig-device'>
        <ul id='fig-ang-list' class='fig-ang-list'>
        {% for n in (0..20) %}
          <li class='item' style='background-image: url(/assets/figures-angle-{{ n }}.png)'></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <script>
    var $window = $(window);
    var $figSection = $('#fig-section');
    var $figDevice = $('#fig-device');
    var $figBlurredAngList = $('#fig-blurred-ang-list');
    var $figAngListItems = $('#fig-ang-list > .item');
    var angWidth = 180;
    var numAngles = 21;
    var prevFrame;

    var figAngles_scrollHandler = function (e) {
      var po = $figDevice.offset();
      var scroll = ($window.scrollTop() + $window.height()) - (po.top + $figDevice.height() / 2);
      var ratio = scroll / $window.height();
      var adjustedRatio, nextFrame, nextOpacity;
      var x;

      if (ratio >= 0 && ratio < 1) {
        adjustedRatio = ratio * numAngles;

        nextFrame = Math.floor(adjustedRatio);
        x = -(angWidth / 2 + ratio * (angWidth * (numAngles - 1)));
        $figBlurredAngList.css('margin-left', x);

        if (nextFrame != prevFrame) {
          if (prevFrame >= 0) {
            $figAngListItems[prevFrame].style.display = 'none';
          }

          $figAngListItems[nextFrame].style.display = 'block';
          prevFrame = nextFrame;
        }
      }
    };

    $(document).on('scroll', figAngles_scrollHandler);
  </script>
{% endcapture %}

{% include 'layouts/default' %}
