@import '_normalize'
@import '_mixins'

// variables

$base-font: "Helvetica Neue", Helvetica, sans-serif
$header-font: "futura-pt", "Helvetica Neue", Helvetica, sans-serif

$line-dark-grey: #3a3a3a
$line-grey: #5a5a5a

$fill-darkest-grey: #1d1d1d
$fill-dark-grey: #3a3a3a
$fill-grey: #666666

$text-grey: #878787
$text-light-grey: #c1c1c1
$text-lightest-grey: #fff

// reset

@media screen and (max-device-width: 480px)
  html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

*
  +prefix-property(box-sizing, border-box)

ul
  padding: 0

li
  list-style-type: none

// base

html, body
  background-color: $fill-darkest-grey
  color: $text-light-grey

body
  font: 400 100%/1.65 $base-font
  text-rendering: optimizeLegibility

img
  max-width: 100%

a
  img
    vertical-align: top

.wf-loading .webfont
  visibility: hidden

// header

.main-header
  +clearfix
  max-width: 75em
  margin: 0 auto
  padding: 2em

  .logo-wrapper
    margin: 0

  .logo
    display: block
    height: 45px
    margin: 0.35em auto
    background: url(/assets/logo.png) no-repeat
    background-position: 50% 0
    background-size: contain

  .logotype
    display: block
    width: 90px
    height: 20px
    margin: 0 auto
    background: url(/assets/logotype.svg) no-repeat
    background-position: 50% 0
    background-size: contain
    text-indent: -9999px

  .tagline
    margin: 1.5em 0 0
    font-family: $header-font
    font-size: 0.875em
    font-weight: 300
    text-align: center
    text-transform: uppercase

.hero
  +clearfix

.hero-image-section
  position: relative
  overflow: hidden
  height: 0
  padding-bottom: 100%
  background-color: #000

.list
  margin: 0

.hero-shadow
  position: absolute
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: url(/assets/hero-shadow.png) repeat-x
  background-position: 0 100%
  background-size: 100% 25%

.device-list
  position: absolute
  width: 100%
  height: 100%
  top: 10%

  > li
    +transition(opacity 0.75s $easeInOutSine)
    +prefix-property(opacity, 0)

    &:first-child,
    &.is-selected
      +prefix-property(opacity, 1)

.device
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-repeat: no-repeat
  background-size: 80%
  background-position: 50% 0

.device-foreground-list-wrapper
  position: absolute
  overflow: hidden
  white-space: nowrap
  margin: 0 16%
  top: 34%
  left: 2px
  right: 0
  bottom: 0

.device-foreground-list
  +transition(left 0.5s $easeInOutCubic)
  position: absolute
  left: 0
  width: 400%
  height: 100%

  &.is-selected-2
    left: -100%

  &.is-selected-3
    left: -200%

  &.is-selected-4
    left: -300%

.device-foreground
  display: block
  float: left
  width: 25%
  height: 100%
  background-repeat: no-repeat
  background-size: cover

.background,
.device-background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover

.fading-bg-list > li
  +transition(opacity 0.75s $easeInOutSine)
  +prefix-property(opacity, 0)

  &.is-selected
    +prefix-property(opacity, 1)

.device-background
  background-clip: content-box
  padding: 26% 16% 0

.carousel-list
  +clearfix
  position: relative
  float: left
  left: 50%
  margin: 1.625em 0

.carousel-list-item
  position: relative
  float: left
  right: 50%

.carousel-list-dot
  +prefix-property(border-radius, 0.5em)
  display: block
  margin: 0 0.4375em
  padding: 0.25em
  width: 1em
  height: 1em
  background-clip: content-box

  .is-selected &
    background-color: $fill-grey

  &:before
    +prefix-property(border-radius, 0.5em)
    position: relative
    display: block
    top: -0.1875em
    left: -0.1875em
    width: 0.75em
    height: 0.75em
    content: ''
    border: solid 1px $line-grey

// sections

.section-title
  +prefix-property(border-radius, 1.75em)

  display: block
  width: 12em
  margin-left: auto
  margin-right: auto

  border: solid 1px $line-dark-grey
  font-family: $header-font
  font-size: 1.25em
  font-weight: 300
  text-transform: uppercase
  text-align: center
  color: $text-grey

//

@media screen and (min-width: 488px)
  .main-header
    .logo
      float: left
      width: 90px
      height: 90px
      margin: 0

    .logotype
      position: relative
      top: 0.5rem
      left: 7rem
      width: 180px
      height: 40px
      margin: 0

    .tagline
      position: relative
      top: 1rem
      left: 1.375rem
      margin: 0
      font-size: 1em
      text-align: left

  .device,
  .device-foreground
    background-size: initial

  .device-background-list
    +prefix-property(box-sizing, content-box)
    position: absolute
    top: 0
    left: 50%
    width: 332px
    height: 100%
    margin-left: -166px

  .device-background
    padding: 138px 0 0 0

  .device-foreground-list-wrapper
    top: 138px
    width: 332px
    margin-left: auto
    margin-right: auto

  .device-list
    top: 16px


@media screen and (min-width: 710px)
  .main-header
    .logotype
      float: left
      top: 1.25rem
      left: 1.375rem

    .tagline
      float: right
      top: 1.75rem
      left: 0
      font-size: 1.375rem

  .background-list
    position: relative
    max-width: 1536px
    height: 100%
    margin: 0 auto

  .hero-image-section
    height: 710px
    padding-bottom: 0
